.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background: slategray;
  
  margin: 50px;
  margin-top: 20%;
  outline: 3px solid black;
  resize: horizontal;
  overflow: auto;
  width: 40%; 
  height: 300px;
  padding: 10px;
  display: inline-flex;
  text-align: center;
  align-items: center;
}

.App-link {
  color: #09d3ac;
}
